<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 2rem;">
    <h1>Your Pins</h1>
    <table class="table table-dark table-hover" style="margin-top: 1.2rem;">
        <thead>
            <tr>
                <th>
                    Filename
                </th>
                <th>
                    Hash
                </th>
                <th>
                    Size
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(const item of userhashes){ %>
            <tr>
                <td style="word-wrap: break-word;
                max-width: 30rem;">
                    <%= item.filename %> 
                </td>
                <td>       
                    <%= item.hash %>
                    <% if(item.status == "Self") { %>
                        <form method="post" action="/remove" style="float:right">
                            <input type="hidden" name="hash" value="<%= item.hash %>">
                            <button class="btn btn-danger">Remove</button>
                        </form>  
                    <% } %>
                    <form method="post" action="/redirect" style="float:right">
                        <input type="hidden" name="hash2" value="<%= item.hash %>">
                        <button class="btn btn-light">Show</button>
                    </form>
                </td>
                <td>
                    <%= item.size %>
                </td>
                <td>
                    <%= item.date %>
                </td>
                <td>
                    <%= item.status %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>